.ant-spin-nested-loading > div > .ant-spin .ant-spin-dot {
    position: fixed;
}
.ant-layout-sider-collapsed .ant-layout-sider-collapsed-a {
    display: none;
}
.ant-comment-inner{
    padding: 8px 0 !important;
}